.comment {
	flex-direction: column;
	.clickable__button {
		width: inherit;
		cursor: pointer;
	}

	.unclickable__button {
		cursor: default;

		&:hover {
			background-color: transparent;
		}
	}

	.delete {
		opacity: 0;
		align-self: center;
		transition: all 0.2s ease-in-out;
		visibility: hidden;
	}

	&:hover .delete {
		opacity: 1;
		visibility: visible;
	}

	.divider {
		width: inherit;
	}
}
